
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
}
.body {
    display:grid;
    max-width: 410px;
    height: 550px; 
    position:relative;
    margin: auto;
    background-color: white;
    transform:translateX(50%, -50%);
    text-align: center;
    background: white;
     /* top: 55%;
    bottom: 50%;     */ 
}

.box img{
    width: 15rem;
    margin-bottom: -20px;
    margin-top: 10px;
}
.text p{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight:500;
    opacity: 0.7;
}

.text h1{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight:400;
    margin-bottom: -15px;
}

.signin{
     padding: 7px 75px 7px 75px;
     font-size: 1.1rem;
     color: white;
     background-color: rgb(96, 7, 239);
     cursor: pointer;
     border-radius: 20px;
     text-decoration: none;
     text-align: center;
     font-family: "Lato", "sans";
     border-color:rgb(96, 7, 239);
    }
.signup{
     padding: 7px 70px 7px 70px;
     font-size: 1.1rem;
     color:  rgb(96, 7, 239);
     background-color:#fff;
     cursor: pointer;
     border-radius: 20px;
     text-decoration: none;
     border-color:rgb(96, 7, 239);
     text-align: center;
     font-family: "Lato", "sans";
     margin-top: 10px ;
}
.signup:hover{
    background-color:rgb(96, 7, 239);
    color: white;
    transition: 0.3s;
}

.signin:hover{
    background-color: #fff;
    color: rgb(96, 7, 239);
}
.email button i{
    letter-spacing: 3px;
}
.signup i{
    letter-spacing: 3px;
}

.para{
    margin-top: -10px;
    font-family: "Lato", "sans";
}

.para a{
    text-decoration:underline;
    color: rgb(96, 7, 239); 
    
}
















































/* 
@media screen and (max-width: 1200px){
    
    .img{
        width: 20rem;
        position: relative;
        margin-right: 4rem;
    }
    .text h1{
        font-size: 1.7rem;
        margin-right: auto;
        position: relative;
    }
    .text p{
        font-size: 1.2rem;
    }
    .signin{
        padding: 8px 29px;
        margin-top: 30px;
    }
} */